.wrapper-launch
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)

    .select-directory-button
        margin: 50px

    .goto-cards
        margin-top: 10px

    .btnpurple
        background-color: $primary-purple

    .purple
        border-color: $primary-purple
        color: $primary-purple
        &:hover
            background-color: $primary-purple
