html, body, #app
    background-color: $white

.page-container
    +grid-display(35% auto 100px 10px, minmax(100%, auto))
    grid-gap: 20px

    .left-page-container
        +grid-display(100%, 80px minmax(auto,80px) minmax(auto,80px) 80px 70px auto)
        font-family: 'Exo'
        color: $black
        font-size: 25px

        .back-button
            color: $black
            margin: 40px 0 40px 40px
            &:hover
                color: $secondary-teal
                font-weight: bold
                cursor: pointer

        .page-title
            +grid(1, 2)
            font-size: 40px
            margin: 40px 0 20px 40px
            font-family: 'Lobster'

        .volume-title
            +grid(1, 3)
            margin: 0 0 40px 40px 
        
        .page-counter
            +grid(1, 4)
            justify-self: center
            font-size: 30px
        
            .page-counter-pagenum
                outline: none
                &:focus
                    border-bottom: 1px solid $secondary-teal
                &:hover
                    cursor: text

        .progress-bar-container
            +grid(1, 5)
            width: 90%
            height: 10px
            background-color: grey
            margin-left: 40px
            &:active
                cursor: move

            .progress-bar
                height: 100%
                background: $secondary-teal

        .home-button-container
            margin: 40px 0 40px 40px
            position: relative
            +grid(1, 6)

            .home-button
                position: absolute
                bottom: 0
                color: $black
                &:hover
                    color: $secondary-teal
                    font-weight: bold
                    cursor: pointer
    
    .page-image-container
        +grid(2, 1)
        width: auto

        .page-image
            display: block
            margin-left: auto
            margin-right: auto
            width: auto
            height: 94.5vh
            margin-top: 2.5vh
            min-height: 700px
            box-shadow: 1px 1px 15px 1px rgba(0,0,0,0.4)
            &:hover
                cursor: pointer

        .syo-frame
            width: 100%
            box-shadow: none
            border: none

    .right-page-container
        +grid(3, 1)
        +grid-display(50% 50%, 80px 40px auto 40px)
        justify-items: center

        .control-button
            color: $secondary-teal
            font-size: 30px
            &:hover
                cursor: pointer
                color: $dark-teal

        .bookmark
            +grid(1/#{3}, 1)
            margin-top: 40px
            
        .del-bookmark
            margin-top: 40px
            +grid(1/#{3}, 2)

        .go-prev
            +grid(1, 4)

        .go-next
            +grid(2, 4)

@media (max-width: 1000px)
    .page-container :not(.page-image-container):not(.page-image)
            display: none

    .page-image-container
        width: 100vw !important
        height: auto !important
        position: absolute

        .page-image
            display: block
            margin-left: auto
            margin-right: auto
            width: 100% !important
            height: auto !important
            object-fit: contain
            margin-top: 2.5vh
            box-shadow: 1px 1px 15px 1px rgba(0,0,0,0.4)
            &:hover
                cursor: pointer

.page-empty-container
    +grid-display(45% 10% 45%, 40% 80px 80px auto)
    height: 100vh

    .page-empty-text
        +grid(1/#{4}, 2)
        font-family: 'Archivo Black'
        opacity: 0.3
        text-align: center
        font-size: 40px
        color: $dark-teal

    .page-empty-back
        +grid(2, 3)
        justify-self: center
        padding: 0
        height: 50px
        text-align: center
        line-height: 50px
        width: 220px