body::-webkit-scrollbar
    width: 5px
    background-color: $tertiary-beige
    &:hover
        width: 10px

body::-webkit-scrollbar-thumb
    border-radius: 20px
    background-color: $secondary-teal
    &:hover
        background-color: $dark-teal