.su-sidebar > *
    transition: 0.4s
    visibility: hidden

.su-sidebar
    height: 100%
    width: 1px
    position: fixed
    z-index: 100
    background-color: white
    border-right: 5px solid $secondary-teal
    transition: 0.4s
    +grid-display(100%, 350px repeat(auto-fill, minmax(100px, auto)))
    &:hover
        width: 280px
        visibility: visible
        & > *
            visibility: visible !important

    .continue-reading
        +grid-display(100%, 50px 240px auto 40px)
        width: 280px
        font-family: 'Exo'
        font-size: 20px
        color: white
        &:hover
            cursor: pointer
            & > .continue-reading-img
                filter: brightness(1)
            & > .lastread-title, .lastread-vol, .lastread-page
                visibility: hidden

        .continue-reading-img
            transition: 0.7s
            width: 100%        
            height: 450px
            background-size: cover
            position: absolute
            z-index: -10
            filter: brightness(0.6)
        
        .lastread-title
            margin-top: 20px
            justify-self: center
        
        .lastread-vol
            margin-left: 10px
            +grid(1, 4)

        .lastread-page
            margin-left: 10px
            +grid(1, 5)